 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(119, 170, 217, 0.25), rgba(119, 170, 217, 0.25));
  min-height: 881px;
}

.u-section-1 .u-group-1 {
  min-height: 59px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 13px calc(((100% - 1140px) / 2)  + 559px) 0 calc(((100% - 1140px) / 2)  + -79px);
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: -78px calc(((100% - 1140px) / 2)  + -36px) 0 calc(((100% - 1140px) / 2)  + 646px);
}

.u-section-1 .u-form-1 {
  height: 562px;
  margin-top: 23px;
  margin-bottom: 0;
  margin-left: calc(((100% - 1140px) / 2)  + 646px);
  width: 546px;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  background-image: none;
  border-style: solid;
}

.u-section-1 .u-text-4 {
  margin: -455px calc(((100% - 1140px) / 2)  + 1052px) 0 calc(((100% - 1140px) / 2)  + 15px);
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: -22px calc(((100% - 1140px) / 2)  + 801px) 0 calc(((100% - 1140px) / 2)  + 76px);
}

.u-section-1 .u-text-6 {
  margin: 40px calc(((100% - 1140px) / 2)  + 1064px) 0 calc(((100% - 1140px) / 2)  + 17px);
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: -20px calc(((100% - 1140px) / 2)  + 908px) 0 calc(((100% - 1140px) / 2)  + 88px);
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  margin: 38px calc(((100% - 1140px) / 2)  + 551px) 0 calc(((100% - 1140px) / 2)  + 88px);
}

.u-section-1 .u-text-9 {
  margin: -21px calc(((100% - 1140px) / 2)  + 1064px) 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-text-10 {
  margin: 165px calc(((100% - 1140px) / 2)  + 1083px) 0 calc(((100% - 1140px) / 2)  + -57px);
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  margin: 92px calc(((100% - 1140px) / 2)  + 687px) 0 calc(((100% - 1140px) / 2)  + 114px);
}

.u-section-1 .u-text-12 {
  margin: -21px calc(((100% - 1140px) / 2)  + 1052px) 0 calc(((100% - 1140px) / 2)  + -88px);
}

.u-section-1 .u-social-icons-1 {
  height: 43px;
  width: 161px;
  margin: -146px auto 0 calc(((100% - 1140px) / 2)  + 99px);
}

.u-section-1 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
  color: rgb(210, 34, 21) !important;
}

.u-section-1 .u-icon-3 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

.u-section-1 .u-text-13 {
  font-style: italic;
  font-size: 1.5rem;
  margin: 143px 185px 5px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-size: cover;
    min-height: 914px;
  }

  .u-section-1 .u-group-1 {
    min-height: 68px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 16px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 25px;
    margin-right: calc(((100% - 940px) / 2)  + 495px);
    margin-left: calc(((100% - 940px) / 2)  + -24px);
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -108px;
    margin-right: 0;
    margin-left: calc(((100% - 940px) / 2)  + 493px);
  }

  .u-section-1 .u-form-1 {
    margin-top: 39px;
    margin-left: calc(((100% - 940px) / 2)  + 493px);
    width: 497px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -394px;
    margin-right: calc(((100% - 940px) / 2)  + 854px);
    margin-left: calc(((100% - 940px) / 2)  + 20px);
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2)  + 519px);
    margin-left: calc(((100% - 940px) / 2)  + 138px);
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: -85px;
    margin-right: calc(((100% - 940px) / 2)  + 854px);
    margin-left: calc(((100% - 940px) / 2)  + 20px);
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: -22px;
    margin-right: calc(((100% - 940px) / 2)  + 658px);
    margin-left: calc(((100% - 940px) / 2)  + 138px);
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 103px;
    margin-right: calc(((100% - 940px) / 2)  + 588px);
    margin-left: calc(((100% - 940px) / 2)  + 144px);
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: -43px;
    margin-right: calc(((100% - 940px) / 2)  + 838px);
    margin-left: calc(((100% - 940px) / 2)  + 17px);
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: 183px;
    margin-right: calc(((100% - 940px) / 2)  + 830px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-top: -151px;
    margin-right: calc(((100% - 940px) / 2)  + 616px);
    margin-left: calc(((100% - 940px) / 2)  + 142px);
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-top: -43px;
    margin-right: calc(((100% - 940px) / 2)  + 832px);
    margin-left: calc(((100% - 940px) / 2)  + 10px);
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: -27px;
    margin-left: calc(((100% - 940px) / 2)  + 212px);
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin: 217px 50px -14px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 983px;
  }

  .u-section-1 .u-group-1 {
    min-height: 67px;
    margin-top: 1px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 14px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 32px;
    margin-right: calc(((100% - 720px) / 2)  + 331px);
    margin-left: calc(((100% - 720px) / 2)  + -18px);
  }

  .u-section-1 .u-text-3 {
    margin-top: -129px;
    margin-left: calc(((100% - 720px) / 2)  + 450px);
  }

  .u-section-1 .u-form-1 {
    margin-top: 28px;
    margin-left: calc(((100% - 720px) / 2)  + 450px);
    width: 304px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -441px;
    margin-right: calc(((100% - 720px) / 2)  + 647px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-5 {
    margin-top: -21px;
    margin-right: calc(((100% - 720px) / 2)  + 317px);
    margin-left: calc(((100% - 720px) / 2)  + 116px);
  }

  .u-section-1 .u-text-6 {
    margin-top: -80px;
    margin-right: calc(((100% - 720px) / 2)  + 654px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-7 {
    margin-top: -21px;
    margin-right: calc(((100% - 720px) / 2)  + 430px);
    margin-left: calc(((100% - 720px) / 2)  + 134px);
  }

  .u-section-1 .u-text-8 {
    margin-top: 83px;
    margin-right: calc(((100% - 720px) / 2)  + 430px);
    margin-left: calc(((100% - 720px) / 2)  + 154px);
  }

  .u-section-1 .u-text-9 {
    margin-top: -75px;
    margin-right: calc(((100% - 720px) / 2)  + 644px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-10 {
    margin-top: 258px;
    margin-right: calc(((100% - 720px) / 2)  + 629px);
    margin-left: calc(((100% - 720px) / 2)  + -25px);
  }

  .u-section-1 .u-text-11 {
    margin-top: -205px;
    margin-right: calc(((100% - 720px) / 2)  + 421px);
    margin-left: calc(((100% - 720px) / 2)  + 144px);
  }

  .u-section-1 .u-text-12 {
    margin-top: -54px;
    margin-right: calc(((100% - 720px) / 2)  + 625px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 24px;
    margin-left: calc(((100% - 720px) / 2)  + 212px);
  }

  .u-section-1 .u-text-13 {
    margin-top: 205px;
    margin-bottom: -83px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 4704px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 2314px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 30px 10px 28px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-right: calc(((100% - 540px) / 2)  + 76px);
    margin-left: calc(((100% - 540px) / 2)  + -66px);
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
    margin-right: calc(((100% - 540px) / 2)  + -36px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-form-1 {
    margin-top: 20px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-4 {
    margin-top: 20px;
    margin-right: calc(((100% - 540px) / 2)  + 467px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-5 {
    margin-top: 90px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-6 {
    margin-top: -72px;
    margin-right: calc(((100% - 540px) / 2)  + 499px);
    margin-left: calc(((100% - 540px) / 2)  + -25px);
  }

  .u-section-1 .u-text-7 {
    margin-top: -1062px;
    margin-right: calc(((100% - 540px) / 2)  + 383px);
    margin-left: calc(((100% - 540px) / 2)  + 21px);
  }

  .u-section-1 .u-text-8 {
    margin-right: calc(((100% - 540px) / 2)  + 295px);
    margin-left: calc(((100% - 540px) / 2)  + 109px);
  }

  .u-section-1 .u-text-9 {
    margin-top: 636px;
    margin-right: calc(((100% - 540px) / 2)  + 480px);
    margin-left: calc(((100% - 540px) / 2)  + 11px);
  }

  .u-section-1 .u-text-10 {
    margin-top: 1149px;
    margin-right: calc(((100% - 540px) / 2)  + 402px);
    margin-left: calc(((100% - 540px) / 2)  + 66px);
  }

  .u-section-1 .u-text-11 {
    margin-top: -1836px;
    margin-right: calc(((100% - 540px) / 2)  + 278px);
    margin-left: calc(((100% - 540px) / 2)  + 126px);
  }

  .u-section-1 .u-text-12 {
    margin-top: 2162px;
    margin-right: calc(((100% - 540px) / 2)  + 491px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 112px;
    margin-left: calc(((100% - 540px) / 2)  + 212px);
  }

  .u-section-1 .u-text-13 {
    margin: 117px calc(((100% - 540px) / 2)) -172px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1721px;
  }

  .u-section-1 .u-group-1 {
    min-height: 116px;
    margin-top: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    margin-top: 823px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: -941px;
    margin-right: calc(((100% - 340px) / 2)  + 17px);
    margin-left: calc(((100% - 340px) / 2)  + -17px);
  }

  .u-section-1 .u-form-1 {
    height: 620px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: 313px;
    margin-right: calc(((100% - 340px) / 2)  + 267px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-5 {
    margin-top: -21px;
    margin-right: calc(((100% - 340px) / 2)  + -35px);
    margin-left: calc(((100% - 340px) / 2)  + 93px);
  }

  .u-section-1 .u-text-6 {
    margin-top: -83px;
    margin-right: calc(((100% - 340px) / 2)  + 274px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-7 {
    margin-top: -22px;
    margin-right: calc(((100% - 340px) / 2)  + 48px);
    margin-left: calc(((100% - 340px) / 2)  + 136px);
  }

  .u-section-1 .u-text-8 {
    margin-top: 89px;
    margin-right: calc(((100% - 340px) / 2)  + 17px);
    margin-left: calc(((100% - 340px) / 2)  + 127px);
  }

  .u-section-1 .u-text-9 {
    margin-top: -43px;
    margin-right: calc(((100% - 340px) / 2)  + 258px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-10 {
    margin-top: 161px;
    margin-right: calc(((100% - 340px) / 2)  + 256px);
    margin-left: calc(((100% - 340px) / 2)  + 12px);
  }

  .u-section-1 .u-text-11 {
    margin-top: -145px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2)  + 155px);
  }

  .u-section-1 .u-text-12 {
    margin-top: -43px;
    margin-right: calc(((100% - 340px) / 2)  + 244px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 59px;
    margin-right: calc(((100% - 340px) / 2)  + 26px);
    margin-left: auto;
  }

  .u-section-1 .u-text-13 {
    width: 340px;
    margin: 28px auto 24px;
  }
} .u-section-2 {
  min-height: 369px;
}

.u-section-2 .u-image-1 {
  width: 230px;
  height: 230px;
  margin: 17px auto 0 calc(((100% - 1140px) / 2)  + -69px);
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: -216px auto 0 calc(((100% - 1140px) / 2)  + 378px);
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-icon-1 {
  width: 40px;
  height: 40px;
  margin: 10px calc(((100% - 1140px) / 2)  + 447px) 0 auto;
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: -9px auto 0 calc(((100% - 1140px) / 2)  + 365px);
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  font-size: 1.125rem;
  margin: -46px calc(((100% - 1140px) / 2)  + 265px) 0 auto;
  padding: 0;
}

.u-section-2 .u-icon-2 {
  width: 47px;
  height: 47px;
  margin: 64px calc(((100% - 1140px) / 2)  + 447px) 0 auto;
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: -47px auto 0 calc(((100% - 1140px) / 2)  + 321px);
}

.u-section-2 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  font-size: 1.125rem;
  margin: -9px calc(((100% - 1140px) / 2)  + 134px) 0 auto;
  padding: 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 20px calc(((100% - 1140px) / 2)  + 524px) 0 calc(((100% - 1140px) / 2)  + 378px);
}

.u-section-2 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-icon-3 {
  width: 87px;
  height: 87px;
  margin: -200px calc(((100% - 1140px) / 2)  + 24px) 0 auto;
  padding: 0;
}

.u-section-2 .u-icon-4 {
  width: 49px;
  height: 49px;
  margin: 113px calc(((100% - 1140px) / 2)  + 500px) 0 auto;
  padding: 0;
}

.u-section-2 .u-btn-7 {
  background-image: none;
  font-size: 1rem;
  margin: -36px calc(((100% - 1140px) / 2)) 0 auto;
  padding: 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: -2px auto 0 calc(((100% - 1140px) / 2)  + 359px);
}

.u-section-2 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-9 {
  border-style: solid;
  font-weight: 700;
  margin: -14px auto 0 calc(((100% - 1140px) / 2)  + -82px);
  padding: 0;
}

.u-section-2 .u-btn-10 {
  border-style: solid;
  font-weight: 700;
  margin: -23px auto 0 calc(((100% - 1140px) / 2)  + 60px);
  padding: 0;
}

.u-section-2 .u-text-6 {
  font-size: 0.875rem;
  margin: 34px auto 0 calc(((100% - 1140px) / 2)  + 202px);
}

.u-section-2 .u-custom-html-1 {
  height: auto;
  min-height: 64px;
  width: 287px;
  margin: -56px calc(((100% - 1140px) / 2)  + 17px) 7px calc(((100% - 1140px) / 2)  + 836px);
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 383px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 15px;
    margin-left: calc(((100% - 940px) / 2)  + -13px);
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -224px;
    margin-left: calc(((100% - 940px) / 2)  + 344px);
  }

  .u-section-2 .u-icon-1 {
    margin-top: 14px;
    margin-right: calc(((100% - 940px) / 2)  + 355px);
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -7px;
    margin-left: calc(((100% - 940px) / 2)  + 334px);
  }

  .u-section-2 .u-btn-3 {
    margin-top: -48px;
    margin-right: calc(((100% - 940px) / 2)  + 190px);
  }

  .u-section-2 .u-icon-2 {
    margin-top: 69px;
    margin-right: calc(((100% - 940px) / 2)  + 364px);
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -48px;
    margin-left: calc(((100% - 940px) / 2)  + 295px);
  }

  .u-section-2 .u-btn-5 {
    margin-right: calc(((100% - 940px) / 2)  + 74px);
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 23px;
    margin-right: calc(((100% - 940px) / 2)  + 544px);
    margin-left: calc(((100% - 940px) / 2)  + 347px);
  }

  .u-section-2 .u-icon-3 {
    margin-top: -206px;
    margin-right: calc(((100% - 940px) / 2)  + 18px);
  }

  .u-section-2 .u-icon-4 {
    margin-top: 85px;
    margin-right: calc(((100% - 940px) / 2)  + 212px);
  }

  .u-section-2 .u-btn-7 {
    margin-top: 22px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: -22px;
    margin-left: calc(((100% - 940px) / 2)  + 327px);
  }

  .u-section-2 .u-btn-9 {
    margin-top: -22px;
    margin-left: calc(((100% - 940px) / 2)  + 130px);
  }

  .u-section-2 .u-btn-10 {
    margin-top: -24px;
    margin-left: calc(((100% - 940px) / 2)  + -39px);
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 59px;
    margin-left: calc(((100% - 940px) / 2)  + 248px);
  }

  .u-section-2 .u-custom-html-1 {
    margin: -64px calc(((100% - 940px) / 2)) 9px calc(((100% - 940px) / 2)  + 703px);
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 563px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 13px;
    margin-left: calc(((100% - 720px) / 2)  + -38px);
  }

  .u-section-2 .u-text-1 {
    margin-top: -230px;
    margin-left: calc(((100% - 720px) / 2)  + 298px);
  }

  .u-section-2 .u-icon-1 {
    margin-top: 97px;
    margin-right: calc(((100% - 720px) / 2)  + 159px);
  }

  .u-section-2 .u-text-2 {
    margin-top: 7px;
    margin-left: calc(((100% - 720px) / 2)  + 285px);
  }

  .u-section-2 .u-btn-3 {
    margin-top: -69px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-icon-2 {
    margin-top: 39px;
    margin-right: calc(((100% - 720px) / 2)  + 129px);
  }

  .u-section-2 .u-text-3 {
    margin-top: -177px;
    margin-left: calc(((100% - 720px) / 2)  + 253px);
  }

  .u-section-2 .u-btn-5 {
    margin-top: 170px;
    margin-right: calc(((100% - 720px) / 2)  + -26px);
  }

  .u-section-2 .u-text-4 {
    margin-top: -162px;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2)  + 310px);
  }

  .u-section-2 .u-icon-3 {
    margin-top: -130px;
    margin-right: calc(((100% - 720px) / 2)  + 89px);
  }

  .u-section-2 .u-icon-4 {
    margin-top: 207px;
    margin-right: calc(((100% - 720px) / 2)  + 324px);
  }

  .u-section-2 .u-btn-7 {
    margin-top: 18px;
    margin-right: calc(((100% - 720px) / 2)  + 129px);
  }

  .u-section-2 .u-text-5 {
    margin-top: -153px;
    margin-left: calc(((100% - 720px) / 2)  + 271px);
  }

  .u-section-2 .u-btn-9 {
    margin-top: 18px;
    margin-left: calc(((100% - 720px) / 2)  + -38px);
  }

  .u-section-2 .u-btn-10 {
    margin-top: -23px;
    margin-left: calc(((100% - 720px) / 2)  + 77px);
  }

  .u-section-2 .u-text-6 {
    margin-top: 227px;
    margin-right: calc(((100% - 720px) / 2)  + 129px);
    margin-left: calc(((100% - 720px) / 2)  + 178px);
  }

  .u-section-2 .u-custom-html-1 {
    margin: -102px calc(((100% - 720px) / 2)) 51px calc(((100% - 720px) / 2)  + 468px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    margin-right: calc(((100% - 540px) / 2)  + 35px);
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2)  + 474px);
  }

  .u-section-2 .u-icon-1 {
    margin-right: calc(((100% - 540px) / 2) + 159px);
    margin-left: calc(((100% - 540px) / 2)  + 57px);
  }

  .u-section-2 .u-text-2 {
    margin-left: calc(((100% - 540px) / 2)  + 468px);
  }

  .u-section-2 .u-btn-3 {
    margin-right: auto;
    margin-left: calc(((100% - 540px) / 2)  + 147px);
  }

  .u-section-2 .u-icon-2 {
    margin-right: calc(((100% - 540px) / 2) + 129px);
    margin-left: calc(((100% - 540px) / 2)  + 50px);
  }

  .u-section-2 .u-text-3 {
    margin-left: calc(((100% - 540px) / 2)  + 447px);
  }

  .u-section-2 .u-btn-5 {
    margin-top: -9px;
    margin-right: auto;
    margin-left: calc(((100% - 540px) / 2)  + 21px);
  }

  .u-section-2 .u-text-4 {
    margin-right: calc(((100% - 540px) / 2)  + 68px);
    margin-left: calc(((100% - 540px) / 2)  + 422px);
  }

  .u-section-2 .u-icon-3 {
    margin-right: auto;
    margin-left: calc(((100% - 540px) / 2)  + 162px);
  }

  .u-section-2 .u-icon-4 {
    margin-right: calc(((100% - 540px) / 2) + 243px);
    margin-left: calc(((100% - 540px) / 2)  + 44px);
  }

  .u-section-2 .u-btn-7 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-top: -22px;
    margin-left: calc(((100% - 540px) / 2)  + 465px);
  }

  .u-section-2 .u-btn-9 {
    margin-right: calc(((100% - 540px) / 2)  + 181px);
    margin-left: auto;
  }

  .u-section-2 .u-btn-10 {
    margin-right: calc(((100% - 540px) / 2)  + 134px);
    margin-left: auto;
  }

  .u-section-2 .u-text-6 {
    margin-right: 146px;
    margin-left: calc(((100% - 540px) / 2)  + 420px);
  }

  .u-section-2 .u-custom-html-1 {
    margin-top: -64px;
    margin-right: calc(((100% - 540px) / 2)  + -344px);
    margin-left: calc(((100% - 540px) / 2)  + 597px);
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 693px;
  }

  .u-section-2 .u-image-1 {
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2)  + -15px);
  }

  .u-section-2 .u-text-1 {
    margin-top: -120px;
    margin-right: 83px;
    margin-left: calc(((100% - 340px) / 2)  + 258px);
  }

  .u-section-2 .u-icon-1 {
    margin-top: 261px;
    margin-right: calc(((100% - 340px) / 2) + 100px);
    margin-left: calc(((100% - 340px) / 2)  + 23px);
  }

  .u-section-2 .u-text-2 {
    margin-top: -90px;
    margin-right: calc(((100% - 340px) / 2)  + 234px);
    margin-left: calc(((100% - 340px) / 2)  + 23px);
  }

  .u-section-2 .u-btn-3 {
    margin-top: 36px;
    margin-left: calc(((100% - 340px) / 2)  + 88px);
  }

  .u-section-2 .u-icon-2 {
    margin-top: 23px;
    margin-right: calc(((100% - 340px) / 2) + 81px);
    margin-left: calc(((100% - 340px) / 2)  + 16px);
  }

  .u-section-2 .u-text-3 {
    margin-top: -342px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2)  + 253px);
  }

  .u-section-2 .u-btn-5 {
    margin-top: 263px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: auto;
  }

  .u-section-2 .u-text-4 {
    margin-top: -258px;
    margin-right: calc(((100% - 340px) / 2)  + 14px);
    margin-left: calc(((100% - 340px) / 2)  + 276px);
  }

  .u-section-2 .u-icon-3 {
    margin-top: -258px;
    margin-right: calc(((100% - 340px) / 2)  + 14px);
    margin-left: auto;
  }

  .u-section-2 .u-icon-4 {
    margin-top: 429px;
    margin-left: auto;
    margin-right: calc(((100% - 340px) / 2) + 153px);
  }

  .u-section-2 .u-btn-7 {
    margin-top: 19px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-text-5 {
    margin-top: -254px;
    margin-right: 100px;
    margin-left: calc(((100% - 340px) / 2)  + 201px);
  }

  .u-section-2 .u-btn-9 {
    margin-top: -88px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2)  + 23px);
  }

  .u-section-2 .u-btn-10 {
    margin-right: calc(((100% - 340px) / 2)  + 30px);
  }

  .u-section-2 .u-text-6 {
    margin-top: 303px;
    margin-right: 64px;
    margin-left: calc(((100% - 340px) / 2)  + 46px);
  }

  .u-section-2 .u-custom-html-1 {
    margin: -20px calc(((100% - 340px) / 2)) 0 calc(((100% - 340px) / 2)  + 103px);
  }
}

.u-section-2 .u-text-1,
.u-section-2 .u-text-1:before,
.u-section-2 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-text-1.u-text-1.u-text-1:hover {
  color: #f1c50e !important;
}

.u-section-2 .u-text-1.u-text-1.u-text-1.hover {
  color: #f1c50e !important;
}

.u-section-2 .u-text-2,
.u-section-2 .u-text-2:before,
.u-section-2 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-text-2.u-text-2.u-text-2:hover {
  color: #f1c50e !important;
}

.u-section-2 .u-text-2.u-text-2.u-text-2.hover {
  color: #f1c50e !important;
}

.u-section-2 .u-text-3,
.u-section-2 .u-text-3:before,
.u-section-2 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-text-3.u-text-3.u-text-3:hover {
  color: #f1c50e !important;
}

.u-section-2 .u-text-3.u-text-3.u-text-3.hover {
  color: #f1c50e !important;
}

.u-section-2 .u-text-5,
.u-section-2 .u-text-5:before,
.u-section-2 .u-text-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-text-5.u-text-5.u-text-5:hover {
  color: #f1c50e !important;
}

.u-section-2 .u-text-5.u-text-5.u-text-5.hover {
  color: #f1c50e !important;
}

.u-section-2 .u-text-4,
.u-section-2 .u-text-4:before,
.u-section-2 .u-text-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-text-4.u-text-4.u-text-4:hover {
  color: #f1c50e !important;
}

.u-section-2 .u-text-4.u-text-4.u-text-4.hover {
  color: #f1c50e !important;
}