 .u-section-1 {
  background-repeat: no-repeat;
  background-image: url("images/photo-1586165368502-1bad197a6461.jpeg");
  background-size: cover;
  min-height: 834px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 15px calc(((100% - 1140px) / 2)  + 232px) 0 calc(((100% - 1140px) / 2)  + 262px);
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.5625rem;
  margin: 57px calc(((100% - 1140px) / 2)  + 97px) 0 calc(((100% - 1140px) / 2)  + 755px);
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.5625rem;
  margin: -55px calc(((100% - 1140px) / 2)  + 749px) 0 calc(((100% - 1140px) / 2)  + 89px);
}

.u-section-1 .u-form-1 {
  --thumb-color: #478ac9;
  --thumb-hover-color: #77aad9;
  --track-color: #c0c0c0;
  --track-active-color: #478ac9;
  height: 577px;
  margin-top: 33px;
  margin-bottom: 0;
  margin-left: calc(((100% - 1140px) / 2)  + -10px);
  width: 531px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-input-1 {
  --radius: 12px;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-input-2 {
  --radius: 12px;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-input-3 {
  --radius: 12px;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-input-4 {
  --radius: 12px;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-input-5 {
  --radius: 12px;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-input-6 {
  --radius: 12px;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-input-7 {
  --radius: 12px;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-input-8 {
  --radius: 12px;
}

.u-section-1 .u-form-group-9 {
  margin-left: 0;
}

.u-section-1 .u-input-9 {
  --radius: 12px;
}

.u-section-1 .u-form-group-10 {
  margin-left: 0;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.u-section-1 .u-btn-1 {
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  font-weight: 700;
  margin: -96px calc(((100% - 1140px) / 2)  + 945px) 0 calc(((100% - 1140px) / 2)  + 26px);
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-size: 0.875rem;
  margin: -19px auto 0 calc(((100% - 1140px) / 2)  + 195px);
  padding: 0;
}

.u-section-1 .u-custom-html-1 {
  margin-top: -493px;
  margin-bottom: 60px;
  width: 476px;
  height: auto;
  min-height: 500px;
  margin-left: calc(((100% - 1140px) / 2)  + 677px);
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-size: cover, cover;
    background-position: 50% 50%;
    min-height: 792px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 18px;
    margin-right: calc(((100% - 940px) / 2)  + 105px);
    margin-left: calc(((100% - 940px) / 2)  + 181px);
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 84px;
    margin-right: calc(((100% - 940px) / 2)  + 58px);
    margin-left: calc(((100% - 940px) / 2)  + 594px);
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2)  + 592px);
    margin-left: calc(((100% - 940px) / 2)  + 45px);
  }

  .u-section-1 .u-form-1 {
    margin-top: 26px;
    margin-left: calc(((100% - 940px) / 2)  + -33px);
    width: 492px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -98px;
    margin-right: calc(((100% - 940px) / 2)  + 771px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 940px) / 2)  + 169px);
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: -501px;
    margin-left: calc(((100% - 940px) / 2)  + 507px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 50% 50%, 50% 50%;
    min-height: 607px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 15px;
    margin-right: calc(((100% - 720px) / 2)  + 23px);
    margin-left: calc(((100% - 720px) / 2)  + 64px);
  }

  .u-section-1 .u-text-2 {
    margin-top: 83px;
    margin-right: calc(((100% - 720px) / 2)  + 7px);
    margin-left: calc(((100% - 720px) / 2)  + 430px);
  }

  .u-section-1 .u-text-3 {
    margin-top: -58px;
    margin-right: calc(((100% - 720px) / 2)  + 403px);
    margin-left: calc(((100% - 720px) / 2)  + 11px);
  }

  .u-section-1 .u-form-1 {
    margin-top: 36px;
    margin-left: calc(((100% - 720px) / 2)  + -41px);
    width: 410px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -95px;
    margin-right: calc(((100% - 720px) / 2)  + 566px);
    margin-left: calc(((100% - 720px) / 2)  + -15px);
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 720px) / 2)  + 154px);
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: -491px;
    width: 375px;
    margin-left: calc(((100% - 720px) / 2)  + 384px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 455px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 194px;
    margin-right: 230px;
    margin-left: calc(((100% - 540px) / 2)  + 215px);
  }

  .u-section-1 .u-text-2 {
    margin-top: 85px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2)  + 392px);
  }

  .u-section-1 .u-text-3 {
    margin-top: -110px;
    margin-right: calc(((100% - 540px) / 2)  + 256px);
    margin-left: calc(((100% - 540px) / 2)  + 142px);
  }

  .u-section-1 .u-form-1 {
    margin-left: calc(((100% - 540px) / 2)  + -59px);
  }

  .u-section-1 .u-text-4 {
    margin-top: -22px;
    margin-right: calc(((100% - 540px) / 2)  + 371px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 20px;
    margin-left: calc(((100% - 540px) / 2)  + 178px);
    margin-bottom: -252px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 286px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: 290px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 800px;
    margin-right: calc(((100% - 340px) / 2)  + 8px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-3 {
    width: 301px;
    margin-top: -817px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-form-1 {
    height: 635px;
    width: 340px;
    margin-top: 33px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: -95px;
    margin-right: calc(((100% - 340px) / 2)  + 147px);
    margin-left: calc(((100% - 340px) / 2)  + 25px);
  }

  .u-section-1 .u-btn-2 {
    margin-right: calc(((100% - 340px) / 2)  + 25px);
    margin-left: auto;
  }

  .u-section-1 .u-custom-html-1 {
    width: 388px;
    min-height: 471px;
    margin: 206px auto 22px;
  }
} .u-section-2 {
  min-height: 407px;
}

.u-section-2 .u-icon-1 {
  width: 87px;
  height: 87px;
  margin: 3px calc(((100% - 1140px) / 2)  + 256px) 0 auto;
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 230px;
  height: 230px;
  margin: -72px auto 0 calc(((100% - 1140px) / 2)  + -33px);
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: -217px auto 0 calc(((100% - 1140px) / 2)  + 378px);
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 41px auto 0 calc(((100% - 1140px) / 2)  + 365px);
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-icon-2 {
  width: 40px;
  height: 40px;
  margin: -10px calc(((100% - 1140px) / 2)  + 492px) 0 auto;
  padding: 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  font-size: 1.125rem;
  margin: -28px calc(((100% - 1140px) / 2)  + 302px) 0 auto;
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 15px auto 0 calc(((100% - 1140px) / 2)  + 321px);
}

.u-section-2 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-icon-3 {
  width: 47px;
  height: 47px;
  margin: -12px calc(((100% - 1140px) / 2)  + 488px) 0 auto;
  padding: 0;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  font-size: 1.125rem;
  margin: -35px calc(((100% - 1140px) / 2)  + 176px) 0 auto;
  padding: 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 11px calc(((100% - 1140px) / 2)  + 524px) 0 calc(((100% - 1140px) / 2)  + 378px);
}

.u-section-2 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-icon-4 {
  width: 49px;
  height: 49px;
  margin: 0 calc(((100% - 1140px) / 2)  + 483px) 0 auto;
  padding: 0;
}

.u-section-2 .u-btn-7 {
  background-image: none;
  font-size: 1rem;
  margin: -43px calc(((100% - 1140px) / 2)  + 194px) 0 auto;
  padding: 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 5px auto 0 calc(((100% - 1140px) / 2)  + 359px);
}

.u-section-2 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-9 {
  border-style: solid;
  font-weight: 700;
  margin: -14px auto 0 calc(((100% - 1140px) / 2)  + -55px);
  padding: 0;
}

.u-section-2 .u-btn-10 {
  border-style: solid;
  font-weight: 700;
  margin: -23px auto 0 calc(((100% - 1140px) / 2)  + 94px);
  padding: 0;
}

.u-section-2 .u-custom-html-1 {
  height: auto;
  min-height: 64px;
  width: 274px;
  margin: 4px calc(((100% - 1140px) / 2)  + 15px) 0 calc(((100% - 1140px) / 2)  + 851px);
}

.u-section-2 .u-text-6 {
  font-size: 0.875rem;
  margin: -13px auto 11px calc(((100% - 1140px) / 2)  + 296px);
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 486px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 12px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-image-1 {
    margin-top: -95px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -216px;
    margin-left: calc(((100% - 940px) / 2)  + 356px);
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 85px;
    margin-left: calc(((100% - 940px) / 2)  + 342px);
  }

  .u-section-2 .u-icon-2 {
    margin-top: -103px;
    margin-right: calc(((100% - 940px) / 2)  + 354px);
  }

  .u-section-2 .u-btn-3 {
    margin-right: calc(((100% - 940px) / 2)  + 185px);
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -11px;
    margin-left: calc(((100% - 940px) / 2)  + 315px);
  }

  .u-section-2 .u-icon-3 {
    margin-top: 49px;
    margin-right: calc(((100% - 940px) / 2)  + 348px);
  }

  .u-section-2 .u-btn-5 {
    margin-top: -47px;
    margin-right: calc(((100% - 940px) / 2)  + 67px);
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 16px;
    margin-right: calc(((100% - 940px) / 2)  + 534px);
    margin-left: calc(((100% - 940px) / 2)  + 356px);
  }

  .u-section-2 .u-icon-4 {
    margin-top: 16px;
    margin-right: calc(((100% - 940px) / 2)  + 334px);
  }

  .u-section-2 .u-btn-7 {
    margin-right: calc(((100% - 940px) / 2)  + 53px);
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-left: calc(((100% - 940px) / 2)  + 336px);
  }

  .u-section-2 .u-btn-9 {
    margin-top: -9px;
    margin-left: calc(((100% - 940px) / 2)  + -30px);
  }

  .u-section-2 .u-btn-10 {
    margin-left: calc(((100% - 940px) / 2)  + 87px);
  }

  .u-section-2 .u-custom-html-1 {
    margin-top: 112px;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2)  + 683px);
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: -8px;
    margin-bottom: 1px;
    margin-left: calc(((100% - 940px) / 2)  + 235px);
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 392px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 8px;
    margin-right: calc(((100% - 720px) / 2)  + 85px);
  }

  .u-section-2 .u-image-1 {
    margin-top: -87px;
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: -214px;
    margin-left: calc(((100% - 720px) / 2)  + 269px);
  }

  .u-section-2 .u-text-2 {
    margin-top: 140px;
    margin-left: calc(((100% - 720px) / 2)  + 229px);
  }

  .u-section-2 .u-icon-2 {
    margin-top: -89px;
    margin-right: calc(((100% - 720px) / 2)  + 231px);
  }

  .u-section-2 .u-btn-3 {
    margin-top: -35px;
    margin-right: calc(((100% - 720px) / 2)  + 59px);
  }

  .u-section-2 .u-text-3 {
    margin-top: -70px;
    margin-left: calc(((100% - 720px) / 2)  + 217px);
  }

  .u-section-2 .u-icon-3 {
    margin-top: 74px;
    margin-right: calc(((100% - 720px) / 2)  + 231px);
  }

  .u-section-2 .u-btn-5 {
    margin-top: -35px;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: -73px;
    margin-right: calc(((100% - 720px) / 2)  + 417px);
    margin-left: calc(((100% - 720px) / 2)  + 254px);
  }

  .u-section-2 .u-icon-4 {
    margin-top: 81px;
    margin-right: calc(((100% - 720px) / 2)  + 226px);
  }

  .u-section-2 .u-btn-7 {
    margin-right: calc(((100% - 720px) / 2)  + -36px);
  }

  .u-section-2 .u-text-5 {
    margin-top: -44px;
    margin-left: calc(((100% - 720px) / 2)  + 237px);
  }

  .u-section-2 .u-btn-9 {
    margin-top: 45px;
    margin-left: calc(((100% - 720px) / 2)  + -31px);
  }

  .u-section-2 .u-btn-10 {
    margin-left: calc(((100% - 720px) / 2)  + 113px);
  }

  .u-section-2 .u-custom-html-1 {
    margin-top: -35px;
    margin-left: calc(((100% - 720px) / 2)  + 482px);
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-text-6 {
    width: 411px;
    margin-top: 2px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-icon-1 {
    margin-top: 24px;
    margin-right: auto;
    margin-left: calc(((100% - 540px) / 2)  + 113px);
  }

  .u-section-2 .u-image-1 {
    margin-top: -94px;
    margin-right: calc(((100% - 540px) / 2)  + 35px);
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2)  + 474px);
  }

  .u-section-2 .u-text-2 {
    margin-left: calc(((100% - 540px) / 2)  + 468px);
  }

  .u-section-2 .u-icon-2 {
    margin-right: calc(((100% - 540px) / 2) + 173px);
    margin-left: calc(((100% - 540px) / 2)  + 50px);
  }

  .u-section-2 .u-btn-3 {
    margin-right: auto;
    margin-left: calc(((100% - 540px) / 2)  + 147px);
  }

  .u-section-2 .u-text-3 {
    margin-top: -11px;
    margin-left: calc(((100% - 540px) / 2)  + 447px);
  }

  .u-section-2 .u-icon-3 {
    margin-top: -32px;
    margin-right: calc(((100% - 540px) / 2) + 173px);
    margin-left: calc(((100% - 540px) / 2)  + 46px);
  }

  .u-section-2 .u-btn-5 {
    margin-top: -15px;
    margin-right: auto;
    margin-left: calc(((100% - 540px) / 2)  + 21px);
  }

  .u-section-2 .u-text-4 {
    margin-right: calc(((100% - 540px) / 2)  + 68px);
    margin-left: calc(((100% - 540px) / 2)  + 422px);
  }

  .u-section-2 .u-icon-4 {
    margin-right: calc(((100% - 540px) / 2) + 170px);
    margin-left: calc(((100% - 540px) / 2)  + 44px);
  }

  .u-section-2 .u-btn-7 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-top: 5px;
    margin-left: calc(((100% - 540px) / 2)  + 465px);
  }

  .u-section-2 .u-btn-9 {
    margin-right: calc(((100% - 540px) / 2)  + 181px);
    margin-left: auto;
  }

  .u-section-2 .u-btn-10 {
    margin-right: calc(((100% - 540px) / 2)  + 134px);
    margin-left: auto;
  }

  .u-section-2 .u-custom-html-1 {
    margin-top: 38px;
    margin-right: calc(((100% - 540px) / 2)  + -344px);
    margin-left: calc(((100% - 540px) / 2)  + 610px);
  }

  .u-section-2 .u-text-6 {
    margin-top: -46px;
    margin-left: calc(((100% - 540px) / 2)  + 420px);
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 657px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 288px;
    margin-right: calc(((100% - 340px) / 2)  + 24px);
    margin-left: auto;
  }

  .u-section-2 .u-image-1 {
    width: 203px;
    height: 203px;
    margin-top: -374px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: -187px;
    margin-right: 93px;
    margin-left: calc(((100% - 340px) / 2)  + 249px);
  }

  .u-section-2 .u-text-2 {
    margin-top: 128px;
    margin-right: calc(((100% - 340px) / 2)  + 19px);
    margin-left: calc(((100% - 340px) / 2)  + 244px);
  }

  .u-section-2 .u-icon-2 {
    margin-top: 134px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-btn-3 {
    margin-top: -28px;
    margin-left: calc(((100% - 340px) / 2)  + 54px);
  }

  .u-section-2 .u-text-3 {
    margin-top: -282px;
    margin-right: calc(((100% - 340px) / 2)  + -25px);
    margin-left: calc(((100% - 340px) / 2)  + 200px);
  }

  .u-section-2 .u-icon-3 {
    margin-top: 292px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-btn-5 {
    margin-top: -35px;
    margin-right: calc(((100% - 340px) / 2)  + 17px);
    margin-left: auto;
  }

  .u-section-2 .u-text-4 {
    margin-top: -302px;
    margin-right: calc(((100% - 340px) / 2)  + 32px);
    margin-left: calc(((100% - 340px) / 2)  + 258px);
  }

  .u-section-2 .u-icon-4 {
    margin-top: 320px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-btn-7 {
    margin-top: -53px;
    margin-right: calc(((100% - 340px) / 2)  + 17px);
    margin-left: auto;
  }

  .u-section-2 .u-text-5 {
    margin-top: -292px;
    margin-right: calc(((100% - 340px) / 2)  + 12px);
    margin-left: calc(((100% - 340px) / 2)  + 238px);
  }

  .u-section-2 .u-btn-9 {
    margin-top: 17px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2)  + -16px);
  }

  .u-section-2 .u-btn-10 {
    margin-top: -22px;
    margin-right: calc(((100% - 340px) / 2)  + 68px);
  }

  .u-section-2 .u-custom-html-1 {
    margin-top: 286px;
    margin-left: calc(((100% - 340px) / 2)  + 116px);
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-6 {
    width: 301px;
    margin-top: 0;
    margin-left: auto;
    margin-bottom: 0;
  }
}

.u-section-2 .u-text-1,
.u-section-2 .u-text-1:before,
.u-section-2 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-text-1.u-text-1.u-text-1:hover {
  color: #f1c50e !important;
}

.u-section-2 .u-text-1.u-text-1.u-text-1.hover {
  color: #f1c50e !important;
}

.u-section-2 .u-text-2,
.u-section-2 .u-text-2:before,
.u-section-2 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-text-2.u-text-2.u-text-2:hover {
  color: #f1c50e !important;
}

.u-section-2 .u-text-2.u-text-2.u-text-2.hover {
  color: #f1c50e !important;
}

.u-section-2 .u-text-3,
.u-section-2 .u-text-3:before,
.u-section-2 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-text-3.u-text-3.u-text-3:hover {
  color: #f1c50e !important;
}

.u-section-2 .u-text-3.u-text-3.u-text-3.hover {
  color: #f1c50e !important;
}

.u-section-2 .u-text-5,
.u-section-2 .u-text-5:before,
.u-section-2 .u-text-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-text-5.u-text-5.u-text-5:hover {
  color: #f1c50e !important;
}

.u-section-2 .u-text-5.u-text-5.u-text-5.hover {
  color: #f1c50e !important;
}

.u-section-2 .u-text-4,
.u-section-2 .u-text-4:before,
.u-section-2 .u-text-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-text-4.u-text-4.u-text-4:hover {
  color: #f1c50e !important;
}

.u-section-2 .u-text-4.u-text-4.u-text-4.hover {
  color: #f1c50e !important;
}