 .u-section-1 {
  min-height: 652px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.125rem;
  width: 877px;
  margin: 22px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 22px 74px 0;
}

.u-section-1 .u-btn-1 {
  --radius: 15px;
  font-weight: 700;
  margin: 56px auto 30px calc(((100% - 1140px) / 2)  + 436px);
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 741px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2)  + 43px);
    margin-left: calc(((100% - 940px) / 2)  + 22px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-top: 30px;
    margin-bottom: 29px;
    margin-left: calc(((100% - 940px) / 2)  + 334px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 856px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 35px;
    margin-right: 35px;
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-top: 21px;
    margin-left: auto;
    margin-bottom: 39px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + 44px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1314px;
  }

  .u-section-1 .u-text-1 {
    width: 311px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 36px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-top: 30px;
    margin-left: auto;
    margin-bottom: 29px;
  }
} .u-section-2 {
  min-height: 414px;
}

.u-section-2 .u-image-1 {
  width: 230px;
  height: 230px;
  margin: 15px auto 0 calc(((100% - 1140px) / 2)  + 13px);
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: -215px auto 0 calc(((100% - 1140px) / 2)  + 472px);
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-icon-1 {
  width: 40px;
  height: 40px;
  margin: 65px calc(((100% - 1140px) / 2)  + 423px) 0 auto;
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: -64px auto 0 calc(((100% - 1140px) / 2)  + 459px);
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  font-size: 1.125rem;
  margin: 10px calc(((100% - 1140px) / 2)  + 245px) 0 auto;
  padding: 0;
}

.u-section-2 .u-icon-2 {
  width: 47px;
  height: 47px;
  margin: 30px calc(((100% - 1140px) / 2)  + 417px) 0 auto;
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: -69px auto 0 calc(((100% - 1140px) / 2)  + 415px);
}

.u-section-2 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  font-size: 1.125rem;
  margin: 11px calc(((100% - 1140px) / 2)  + 114px) 0 auto;
  padding: 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 0 calc(((100% - 1140px) / 2)  + 618px) 0 calc(((100% - 1140px) / 2)  + 472px);
}

.u-section-2 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-icon-3 {
  width: 87px;
  height: 87px;
  margin: -221px calc(((100% - 1140px) / 2)  + 138px) 0 auto;
  padding: 0;
}

.u-section-2 .u-icon-4 {
  width: 49px;
  height: 49px;
  margin: 140px calc(((100% - 1140px) / 2)  + 414px) 0 auto;
  padding: 0;
}

.u-section-2 .u-btn-7 {
  background-image: none;
  font-size: 1rem;
  margin: -41px calc(((100% - 1140px) / 2)  + 114px) 0 auto;
  padding: 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: -3px auto 0 calc(((100% - 1140px) / 2)  + 453px);
}

.u-section-2 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-9 {
  border-style: solid;
  font-weight: 700;
  margin: -23px auto 0 calc(((100% - 1140px) / 2));
  padding: 0;
}

.u-section-2 .u-btn-10 {
  border-style: solid;
  font-weight: 700;
  margin: -22px auto 0 calc(((100% - 1140px) / 2)  + 126px);
  padding: 0;
}

.u-section-2 .u-text-6 {
  font-size: 0.875rem;
  margin: 42px auto 0 calc(((100% - 1140px) / 2)  + 296px);
}

.u-section-2 .u-custom-html-1 {
  height: auto;
  min-height: 64px;
  margin-top: -40px;
  margin-bottom: 15px;
  margin-left: calc(((100% - 1140px) / 2)  + 960px);
  width: 274px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 518px;
  }

  .u-section-2 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2)  + -17px);
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: calc(((100% - 940px) / 2)  + 350px);
  }

  .u-section-2 .u-icon-1 {
    margin-right: calc(((100% - 940px) / 2)  + 362px);
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: calc(((100% - 940px) / 2)  + 337px);
  }

  .u-section-2 .u-btn-3 {
    margin-right: calc(((100% - 940px) / 2)  + 197px);
  }

  .u-section-2 .u-icon-2 {
    margin-right: calc(((100% - 940px) / 2)  + 364px);
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-left: calc(((100% - 940px) / 2)  + 302px);
  }

  .u-section-2 .u-btn-5 {
    margin-right: calc(((100% - 940px) / 2)  + 60px);
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2)  + 536px);
    margin-left: calc(((100% - 940px) / 2)  + 354px);
  }

  .u-section-2 .u-icon-3 {
    margin-right: calc(((100% - 940px) / 2)  + 45px);
  }

  .u-section-2 .u-icon-4 {
    margin-right: calc(((100% - 940px) / 2)  + 362px);
  }

  .u-section-2 .u-btn-7 {
    margin-right: calc(((100% - 940px) / 2)  + 62px);
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-left: calc(((100% - 940px) / 2)  + 337px);
  }

  .u-section-2 .u-btn-9 {
    margin-left: calc(((100% - 940px) / 2)  + -33px);
  }

  .u-section-2 .u-btn-10 {
    margin-left: calc(((100% - 940px) / 2)  + 91px);
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-left: calc(((100% - 940px) / 2)  + 238px);
  }

  .u-section-2 .u-custom-html-1 {
    margin-left: calc(((100% - 940px) / 2)  + 699px);
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 465px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2)  + 270px);
  }

  .u-section-2 .u-icon-1 {
    margin-right: calc(((100% - 720px) / 2)  + 242px);
  }

  .u-section-2 .u-text-2 {
    margin-left: calc(((100% - 720px) / 2)  + 255px);
  }

  .u-section-2 .u-btn-3 {
    margin-right: calc(((100% - 720px) / 2)  + 80px);
  }

  .u-section-2 .u-icon-2 {
    margin-right: calc(((100% - 720px) / 2)  + 244px);
  }

  .u-section-2 .u-text-3 {
    margin-left: calc(((100% - 720px) / 2)  + 223px);
  }

  .u-section-2 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: calc(((100% - 720px) / 2)  + 399px);
    margin-left: calc(((100% - 720px) / 2)  + 271px);
  }

  .u-section-2 .u-icon-3 {
    margin-right: calc(((100% - 720px) / 2)  + -15px);
  }

  .u-section-2 .u-icon-4 {
    margin-right: calc(((100% - 720px) / 2)  + 242px);
  }

  .u-section-2 .u-btn-7 {
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: calc(((100% - 720px) / 2)  + 250px);
  }

  .u-section-2 .u-btn-9 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-10 {
    margin-top: 20px;
    margin-left: calc(((100% - 720px) / 2)  + -13px);
  }

  .u-section-2 .u-text-6 {
    margin-left: calc(((100% - 720px) / 2)  + 148px);
  }

  .u-section-2 .u-custom-html-1 {
    margin-top: 20px;
    margin-left: calc(((100% - 720px) / 2)  + 474px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    margin-left: calc(((100% - 540px) / 2)  + 25px);
  }

  .u-section-2 .u-text-1 {
    margin-top: 20px;
    margin-left: calc(((100% - 540px) / 2)  + 224px);
  }

  .u-section-2 .u-icon-1 {
    margin-right: calc(((100% - 540px) / 2)  + 200px);
  }

  .u-section-2 .u-text-2 {
    margin-left: calc(((100% - 540px) / 2)  + 218px);
  }

  .u-section-2 .u-btn-3 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-icon-2 {
    margin-right: calc(((100% - 540px) / 2)  + 197px);
  }

  .u-section-2 .u-text-3 {
    margin-left: calc(((100% - 540px) / 2)  + 197px);
  }

  .u-section-2 .u-btn-5 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-text-4 {
    margin-right: calc(((100% - 540px) / 2)  + 318px);
    margin-left: calc(((100% - 540px) / 2)  + 172px);
  }

  .u-section-2 .u-icon-3 {
    margin-right: calc(((100% - 540px) / 2)  + 138px);
  }

  .u-section-2 .u-icon-4 {
    margin-right: calc(((100% - 540px) / 2)  + 197px);
  }

  .u-section-2 .u-btn-7 {
    margin-top: 20px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-text-5 {
    margin-top: 20px;
    margin-left: calc(((100% - 540px) / 2)  + 215px);
  }

  .u-section-2 .u-btn-9 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-10 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-text-6 {
    margin-left: calc(((100% - 540px) / 2)  + 170px);
  }

  .u-section-2 .u-custom-html-1 {
    margin-right: calc(((100% - 540px) / 2)  + -94px);
    margin-left: calc(((100% - 540px) / 2)  + 360px);
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 778px;
  }

  .u-section-2 .u-image-1 {
    width: 161px;
    height: 161px;
    margin-left: calc(((100% - 340px) / 2)  + -12px);
  }

  .u-section-2 .u-text-1 {
    margin-top: -140px;
    margin-right: 107px;
    margin-left: calc(((100% - 340px) / 2)  + 235px);
  }

  .u-section-2 .u-icon-1 {
    margin-top: 358px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2)  + 26px);
  }

  .u-section-2 .u-text-2 {
    margin-top: -371px;
    margin-right: calc(((100% - 340px) / 2)  + 40px);
    margin-left: calc(((100% - 340px) / 2)  + 220px);
  }

  .u-section-2 .u-btn-3 {
    margin-top: 317px;
    margin-right: auto;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 34px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-3 {
    margin-top: -396px;
    margin-right: 50px;
    margin-left: calc(((100% - 340px) / 2)  + 185px);
  }

  .u-section-2 .u-btn-5 {
    margin-top: 338px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-4 {
    margin-top: -322px;
    margin-right: calc(((100% - 340px) / 2)  + 53px);
    margin-left: calc(((100% - 340px) / 2)  + 237px);
  }

  .u-section-2 .u-icon-3 {
    margin-top: 70px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2)  + 106px);
  }

  .u-section-2 .u-icon-4 {
    margin-top: 202px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-btn-7 {
    margin-top: -45px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-5 {
    margin-top: -375px;
    margin-right: 83px;
    margin-left: calc(((100% - 340px) / 2)  + 218px);
  }

  .u-section-2 .u-btn-9 {
    margin-top: -31px;
    margin-left: calc(((100% - 340px) / 2)  + -9px);
  }

  .u-section-2 .u-btn-10 {
    margin-top: -70px;
    margin-left: calc(((100% - 340px) / 2)  + -30px);
  }

  .u-section-2 .u-text-6 {
    margin-top: 534px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-2 .u-custom-html-1 {
    margin: -117px calc(((100% - 340px) / 2) + -94px) 60px calc(((100% - 340px) / 2)  + 137px);
  }
}

.u-section-2 .u-text-1,
.u-section-2 .u-text-1:before,
.u-section-2 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-text-1.u-text-1.u-text-1:hover {
  color: #f1c50e !important;
}

.u-section-2 .u-text-1.u-text-1.u-text-1.hover {
  color: #f1c50e !important;
}

.u-section-2 .u-text-2,
.u-section-2 .u-text-2:before,
.u-section-2 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-text-2.u-text-2.u-text-2:hover {
  color: #f1c50e !important;
}

.u-section-2 .u-text-2.u-text-2.u-text-2.hover {
  color: #f1c50e !important;
}

.u-section-2 .u-text-3,
.u-section-2 .u-text-3:before,
.u-section-2 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-text-3.u-text-3.u-text-3:hover {
  color: #f1c50e !important;
}

.u-section-2 .u-text-3.u-text-3.u-text-3.hover {
  color: #f1c50e !important;
}

.u-section-2 .u-text-5,
.u-section-2 .u-text-5:before,
.u-section-2 .u-text-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-text-5.u-text-5.u-text-5:hover {
  color: #f1c50e !important;
}

.u-section-2 .u-text-5.u-text-5.u-text-5.hover {
  color: #f1c50e !important;
}

.u-section-2 .u-text-4,
.u-section-2 .u-text-4:before,
.u-section-2 .u-text-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-text-4.u-text-4.u-text-4:hover {
  color: #f1c50e !important;
}

.u-section-2 .u-text-4.u-text-4.u-text-4.hover {
  color: #f1c50e !important;
}